._6f3k{height:100%;overflow:auto}._3-s_{margin-bottom:10px;margin-left:8px;margin-top:10px;width:260px}._r8e ._3-s_{margin-left:20px;margin-top:10px;width:300px}._3-sy{cursor:pointer;padding:2px}._4gww{font-family:helvetica, arial, sans-serif;font-size:12px;padding-left:5px;padding-right:2px;padding-top:5px}
._2ejf{margin-left:5px}
._s5o ._1lih{height:24px;width:24px}._s5o ._4rlu._4rlt{background-color:rgba(0, 132, 255, .2);border:none;border-radius:50px}._s5o ._4rlu{padding:5px}

#bootloader_2lHbQ{height:42px;}.bootloader_2lHbQ{display:block!important;}